@font-face {
  font-family: 'Sullivan-Regular';
  src: url('/ui/fonts/sullivan/sullivan-regular.eot');
  src: url('/ui/fonts/sullivan/sullivan-regular.eot?#iefix') format('embedded-opentype'),
       url('/ui/fonts/sullivan/sullivan-regular.woff2') format('woff2'),
       url('/ui/fonts/sullivan/sullivan-regular.woff') format('woff'),
       url('/ui/fonts/sullivan/sullivan-regular.ttf') format('truetype'),
       url('/ui/fonts/sullivan/sullivan-regular.svg#Sullivan-Regular') format('svg');
}