/**
 * cover
 */
.cover {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.cover-down {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 1px solid $tuna;
  border-radius: 50%;
  padding-top: 16px;
  
  @include respond-to('large') {
    display: none;
  }
}